header {
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
	border-bottom: 2px solid #eee;
}
.bg-dark{
    background: linear-gradient(to right,#535584 0%,#b8368c 100%);
}
.title{
    float: left;
    padding: 5px 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.right-menu{
    padding-top: 10px;
    padding-right: 10px;
    float: right;
}

.navbar-nav{
    background-color: rgba(255, 252, 252, 0.16);
    padding: 0px 12px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
}

.user-name{
    font-weight: bold;
}

.cursor{
    cursor: pointer;
}
select{
    float:right;
    color: #495057;
    border-radius: 0.25em;
    border: 1px solid #ced4da;
    height: 23px;
    font-size: 12px;
    margin-top: 6px;
    margin-right: 20px;
}