<div class="tool-bar">
    <div class="title">
        Auto Playlist v1.8
    </div>
    <div class="right-menu">
        <div class="right-menu-content">
            Chào <span class="user-name">thanhtan</span>
            |
            <span class="cursor">Blog</span>
            |
            <span class="cursor">Auto Playlist</span>
            |
            <span class="cursor">Quản Lý Playlist</span>
            |
            <span class="cursor">Tiện Ích</span>
            |
            <span class="cursor">Cấu Hình</span>
            |
            <span class="cursor">Bảng Gía</span>
            |
            <span class="cursor">Hồ Sơ</span>
            |
            <span class="cursor" (click)="btnLoggout()">Đăng Xuất</span>
        </div>
    </div>
</div>