.tool-bar{
    width: 100%;
    height: 70px;
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,#2399a6 0%,#f05849 100%),url('assets/banner.jpg');
    background-blend-mode:initial;
}
.title{
    float: left;
    padding: 30px 10px;
    color: white;
    font-size: 30px;
}

.right-menu{
    padding: 17px 10px;
    float: right;
}

.right-menu-content{
    color: white;
    background-color:rgba(23, 162, 184, 0.23);
    padding: 4px;
    margin-top: 10px;
    font-size: 12px;
    border-radius: 5px;
}

.user-name{
    font-weight: bold;
}

.cursor{
    cursor: pointer;
}