<div class="container-fluid">
      <div class="row">
            <div class="left-part col-12 col-sm-12 col-md-6">
                  <div class="btnTab">
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagSetTab === 'tabSet1'}" (click)="tabControl('set','tabSet1')">Cài đặt chung</button>
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagSetTab === 'tabSet2'}" (click)="tabControl('set','tabSet2')">Cài đặt tìm kiếm video</button>
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagSetTab === 'tabSet3'}" (click)="tabControl('set','tabSet3')">Cài đặt video</button>
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagSetTab === 'tabSet4'}" (click)="tabControl('set','tabSet4')">Cài đặt tiêu đề</button>
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagSetTab === 'tabSet5'}" (click)="tabControl('set','tabSet5')">Cài đặt mô tả</button>
                  </div>
                  <div id="tabSet1" [ngClass]="{'show':flagSetTab === 'tabSet1','hide':flagSetTab !== 'tabSet1'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">{{"General settings"|translate}}</div>
                              <div class="card-body text-dark">
                                    <div class="mb-1">
                                          <span>{{"PLL published option"|translate}}:</span>
                                          <select [(ngModel)]="selectPrivacy" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listPrivacy" [ngValue]="item">{{item.name | translate}}</option>
                                          </select>
                                    </div>
                                    <div class="mb-1">
                                          <span>{{"Language"|translate}}:</span>
                                          <select [(ngModel)]="selectLanguage" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listLanguage" [ngValue]="item"> {{item.name | translate}} </option>
                                          </select>
                                    </div>
                                    <div class="mb-1">
                                          <span>{{"Number of playlists"|translate}}:</span>
                                          <input (ngModelChange)="onChangeLang($event)" [(ngModel)]="maxPlaylistNumberPerChannel" id="maxPlaylistNumberPerChannel"
                                                class="form-control">
                                    </div>
                                    <div class="mb-1">
                                          <input (change)="onChangeLang($event)" id="useAllKeyword" type="checkbox" checked class="checkbox">{{"Create playlists continuously until running out of keywords"|translate}}
                                    </div>
                                    <div class="mb-1">
                                          <input (change)="onChangeLang($event)" id="skipSensitiveKeyword" type="checkbox" class="checkbox">{{"Skip vulnerable PLL keywords for public regulations"|translate}}
                                    </div>
                                    <div class="mb-1">
                                          <input (change)="onChangeLang($event)" id="autoChangeChannel" type="checkbox" class="checkbox">{{"Auto switch channel when having enough 100 PPL/day/channel" | translate}}
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div id="tabSet2" [ngClass]="{'show':flagSetTab === 'tabSet2','hide':flagSetTab !== 'tabSet2'}">
                        <div id="r_config" class="card border-secondary mb-3">
                              <div class="card-header">Cài đặt tìm kiếm video</div>
                              <div class="card-body text-dark">
                                    <div class="mb-1">
                                          <span>Số lượng video cho mỗi playlist từ:</span>
                                          <input (ngModelChange)="onChangeLang($event)" [(ngModel)]="minResults" id="minResults" class="form-control" type="text"> tới
                                          <input (ngModelChange)="onChangeLang($event)" [(ngModel)]="maxResults" id="maxResults" class="form-control" type="text">
                                    </div>

                                    <div class="mb-1">
                                          <span>Sắp xếp video theo:</span>
                                          <select [(ngModel)]="selectOrder" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listOrder" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>

                                    <div class="mb-1">
                                          <span>Thời gian đăng video:</span>
                                          <select [(ngModel)]="selectPublishedAfter" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listPublishedAfter" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>

                                    <div class="mb-1">
                                          <span>Thời lượng video:</span>
                                          <select [(ngModel)]="selectVideoDuration" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listVideoDuration" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>

                                    <div class="mb-1">
                                          <span>Chất lượng video:</span>
                                          <select [(ngModel)]="selectVideoDefinition" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listVideoDefinition" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>

                                    <div class="mb-1">
                                          <span>Live video:</span>
                                          <select [(ngModel)]="selectEventType" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listEventType" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>

                                    <div class="mb-1">
                                          <span>Kiểu video:</span>
                                          <select [(ngModel)]="selectVideoType" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listVideoType" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div id="tabSet3" [ngClass]="{'show':flagSetTab === 'tabSet3','hide':flagSetTab !== 'tabSet3'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">Cài đặt video của bạn</div>
                              <div class="card-body text-dark">
                                    <div class="mb-1">
                                          <input (ngModelChange)="onChangeLang($event)" id="noInsertVideo" type="radio" name="radVideoSet" class="radio" value="noInsertVideo"
                                                [(ngModel)]="setVideoRadio">
                                          <span>Không chèn video của bạn (có sẽ view chèn sau tại đây)</span>
                                    </div>
                                    <div class="mb-1">
                                          <input (ngModelChange)="onChangeLang($event)" id="yesInsertVideo" type="radio" name="radVideoSet" class="radio" value="yesInsertVideo"
                                                [(ngModel)]="setVideoRadio">
                                          <span>Chèn video của bạn lúc tạo PLL (tại đây)</span>
                                    </div>
                                    <div class="mb-1">
                                          <span>Số lượng video của bạn cần thêm</span>
                                          <input (ngModelChange)="onChangeLang($event)" id="videoNumber" [disabled]="setVideoRadio == 'noInsertVideo'" class="form-control"
                                                type="text" [(ngModel)]="videoNumber"> (max 10)
                                    </div>
                                    <div class="mb-1">
                                          <span>ID video của bạn, mỗi id mỗi hàng (Lấy ID)</span>
                                    </div>
                                    <div class="mb-1">
                                          <textarea (ngModelChange)="onChangeLang($event)" id="videos" [disabled]="setVideoRadio == 'noInsertVideo'" [(ngModel)]="videos"
                                                class="lined" rows="10" style="width:100%"></textarea>
                                          <div>
                                                <input (change)="onChangeLang($event)" id="autoChooseVideoID" [disabled]="setVideoRadio == 'noInsertVideo'" type="checkbox"
                                                      class="setVdisable checkbox"> Tự chọn ID video của bạn ngẫu nhiên từ danh sách
                                          </div>
                                          <div>
                                                <input (change)="onChangeLang($event)" id="addPositionRandom" [disabled]="setVideoRadio == 'noInsertVideo'" type="checkbox"
                                                      class="setVdisable checkbox"> Thêm ID vào các vị trí ngẫu nhiên trên PLL
                                          </div>
                                          <div>
                                                <input (change)="onChangeLang($event)" id="insert1ID" [disabled]="setVideoRadio == 'noInsertVideo'" type="checkbox" class="setVdisable checkbox"
                                                      checked> Thêm 1 ID vào đầu PLL (vị trí số 1)
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div id="tabSet4" [ngClass]="{'show':flagSetTab === 'tabSet4','hide':flagSetTab !== 'tabSet4'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">Cài đặt tiêu đề</div>
                              <div class="card-body text-dark">
                                    <div class="mb-1">
                                          <div>
                                                <input (change)="onChangeLang($event)" id="isAddRandomKeyWord" type="checkbox" class="checkbox" checked="checked"> Tự thêm từ khóa ngẫu nhiên vào cuối tiêu đề PLL
                                          </div>
                                          <div>
                                                <input (change)="onChangeLang($event)" id="isAddRandomNumber" type="checkbox" class="checkbox" checked="checked"> Tự động thêm
                                                <input (ngModelChange)="onChangeLang($event)" [(ngModel)]="number" id="number" class="form-control" type="text" value="4"> số ngẫu nhiên vào cuối tiêu đề
                                          </div>
                                          <div>
                                                <input (change)="onChangeLang($event)" id="isNeverDie" type="checkbox" class="checkbox" checked>Chỉnh tiêu đề chống die cho mọi loại từ khóa
                                          </div>
                                          <div>
                                                Ký tự nối tiêu đề:
                                                <select [(ngModel)]="selectConcatKeyword" (ngModelChange)="onChangeLang($event)">
                                                      <option *ngFor="let item of listConcatKeyword" [ngValue]="item"> {{item.name}} </option>
                                                </select>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div id="tabSet5" [ngClass]="{'show':flagSetTab === 'tabSet5','hide':flagSetTab !== 'tabSet5'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">Cài đặt mô tả</div>
                              <div class="card-body text-dark">
                                    <div class="mb-1">
                                          <input (change)="onChangeLang($event)" id="isAddRandomVideoTitle" type="checkbox" class="checkbox" checked="checked">Tự động thêm vài tiêu đề video tìm thấy vào mô tả
                                    </div>
                                    <div class="mb-1">
                                          <input (ngModelChange)="onChangeLang($event)" id="isAutoAddDescription" type="radio" name="setDescriptRadio" value="isAutoAddDescription"
                                                class="radio" [(ngModel)]="setDescriptRadio">
                                          <span>Tự động thêm mô tả PLL</span>
                                    </div>
                                    <div class="mb-1">
                                          <input (ngModelChange)="onChangeLang($event)" type="radio" name="setDescriptRadio" value="isManualAddDescription" class="radio"
                                                [(ngModel)]="setDescriptRadio">
                                          <span>Nhập mô tả PLL thủ công</span>
                                    </div>
                                    <div class="mb-1">
                                          <span>Mô tả cho PLL (có thể nhập theo spintax): </span>
                                    </div>
                                    <div class="mb-1">
                                          <textarea (ngModelChange)="onChangeLang($event)" [(ngModel)]="description" id="description" [disabled]="setDescriptRadio == 'isAutoAddDescription'"
                                                placeholder="Nhập mô tả vào đây" class="lined" rows="10" style="width:100%"></textarea>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Reset</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <button (click)="btnResetDefaultSetting()" class="btn btn-secondary">{{"Reset back to default"|translate}}</button>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- right part  -->
            <div class="right-part col-12 col-sm-12 col-md-6">
                  <div class="btnTab">
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagKeyTab === 'tabKey1'}" (click)="tabControl('key','tabKey1')">{{"Playlist Keywords"|translate}}</button>
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagKeyTab === 'tabKey2'}" (click)="tabControl('key','tabKey2')">Từ khóa đã sử dụng</button>
                        <button type="button" class="btn btn-sm btn-default" [ngClass]="{'btnActive':flagKeyTab === 'tabKey3'}" (click)="tabControl('key','tabKey3')">Từ khóa đã bỏ qua</button>
                  </div>
                  <div id="tabKey1" [ngClass]="{'show':flagKeyTab === 'tabKey1','hide':flagKeyTab !== 'tabKey1'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">Từ khóa cho playlist (1 từ khóa tạo 1 PLL):</div>
                              <div class="card-body text-dark">
                                    <textarea id="names" class="lined" rows="10" style="width:100%"></textarea>
                              </div>
                        </div>
                  </div>
                  <div id="tabKey2" [ngClass]="{'show':flagKeyTab === 'tabKey2','hide':flagKeyTab !== 'tabKey2'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">Danh sách từ khóa đã sử dụng:</div>
                              <div class="card-body text-dark">
                                    <textarea disabled id="keyUsing" class="lined" rows="10" style="width:100%"></textarea>
                              </div>
                              <div class="card-footer">
                                    <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                                          <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                <button onClick="document.getElementById('keyUsing').disabled = false;" class="btn btn-success btn-sm">Sửa từ khóa đã sử dụng</button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                                <button class="btn btn-danger btn-sm">Xóa hết</button>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div id="tabKey3" [ngClass]="{'show':flagKeyTab === 'tabKey3','hide':flagKeyTab !== 'tabKey3'}">
                        <div class="card border-secondary mb-3">
                              <div class="card-header">Danh sách từ khóa đã bỏ qua:

                              </div>
                              <div class="card-body text-dark">
                                    <textarea id="keyPassing" disabled class="lined" rows="10" style="width:100%"></textarea>
                              </div>
                              <div class="card-footer">
                                    <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                                          <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                <button onClick="document.getElementById('keyPassing').disabled = false;" class="btn btn-success btn-sm">Sửa từ khóa đã bỏ qua</button>
                                          </div>
                                          <div class="btn-group" role="group" aria-label="Third group">
                                                <button class="btn btn-danger btn-sm">Xóa hết</button>
                                          </div>
                                    </div>
                              </div>

                        </div>
                  </div>
            
      </div>
      </div>
</div>