<div class="container-fluid">
      <div class="row">
            <div class="left-part col-12 col-sm-12 col-md-6">
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Cài đặt chung</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <span>Tùy chọn xuất bản PLL:</span>
                                    <select>
                                          <option selected>Công khai</option>
                                          <option>Không công khai</option>
                                          <option>Riêng tư</option>
                                    </select>
                              </div>
                              <div class="mb-1">
                                    <span>Ngôn ngữ sử dụng cho playlist:</span>
                                    <select [(ngModel)]="selectedLang" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of langs" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>
                              <div class="mb-1">
                                    <span>Số lượng playlist trên kênh:</span>
                                    <input class="form-control" value="50">
                              </div>
                              <div class="mb-1">
                                    <input type="checkbox" checked class="checkbox"> Tạo playlist liên tục đến hết từ khóa
                              </div>
                              <div class="mb-1">
                                    <input type="checkbox" class="checkbox"> Bỏ qua key dễ bị xóa PLL do nguyên tắc cộng
                                    đồng
                              </div>
                              <div class="mb-1">
                                    <input type="checkbox" class="checkbox"> Tự động chuyển kênh khi đủ 100 pll/ngày/kênh
                              </div>
                        </div>
                  </div>
                  <div id="r_config" class="card border-secondary mb-3">
                        <div class="card-header">Cài đặt tìm kiếm video</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <span>Số lượng video cho mỗi playlist từ:</span>
                                    <input id="setV_min_resuld" class="form-control" type="text" value="30"> tới
                                    <input id="setV_max_resuld" class="form-control" type="text" value="50">
                              </div>

                              <div class="mb-1">
                                    <span>Sắp xếp video theo:</span>
                                    <select [(ngModel)]="selectOrder" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of listOrder" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>

                              <div class="mb-1">
                                    <span>Thời gian đăng video:</span>
                                    <select [(ngModel)]="selectPubAfter" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of listPubAfter" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>

                              <div class="mb-1">
                                    <span>Thời lượng video:</span>
                                    <select [(ngModel)]="selectVideoDur" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of listVideoDur" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>

                              <div class="mb-1">
                                    <span>Chất lượng video:</span>
                                    <select [(ngModel)]="selectVideoDef" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of listVideoDef" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>

                              <div class="mb-1">
                                    <span>Live video:</span>
                                    <select [(ngModel)]="selectEventType" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of listEventType" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>

                              <div class="mb-1">
                                    <span>Kiểu video:</span>
                                    <select [(ngModel)]="selectVideoType" (ngModelChange)="onChangeLang($event)">
                                          <option *ngFor="let item of listVideoType" [ngValue]="item"> {{item.name}} </option>
                                    </select>
                              </div>
                        </div>
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Cài đặt video của bạn</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <input type="radio" name="radVideoSet" class="radio" value="true" [(ngModel)]="setVideoRadio">
                                    <span>Không chèn video của bạn (có sẽ view chèn sau tại đây)</span>
                              </div>
                              <div class="mb-1">
                                    <input type="radio" name="radVideoSet" class="radio" value="false" [(ngModel)]="setVideoRadio">
                                    <span>Chèn video của bạn lúc tạo PLL (tại đây)</span>
                              </div>
                              <div class="mb-1">
                                    <span>Số lượng video của bạn cần thêm</span>
                                    <input [disabled]="setVideoRadio == 'true'" class="form-control" type="text" value="10">                                    (max 10)
                              </div>
                              <div class="mb-1">
                                    <span>ID video của bạn, mỗi id mỗi hàng (Lấy ID)</span>
                              </div>
                              <div class="mb-1">
                                    <textarea [disabled]="setVideoRadio == 'true'" class="lined" rows="10" style="width:100%">{{idVideo}}</textarea>
                                    <div>
                                          <input [disabled]="setVideoRadio == 'true'" type="checkbox" class="setVdisable checkbox">                                          Tự chọn ID video của bạn ngẫu nhiên từ danh sách
                                    </div>
                                    <div>
                                          <input [disabled]="setVideoRadio == 'true'" type="checkbox" class="setVdisable checkbox">                                          Thêm ID vào các vị trí ngẫu nhiên trên PLL
                                    </div>
                                    <div>
                                          <input [disabled]="setVideoRadio == 'true'" type="checkbox" class="setVdisable checkbox" checked>                                          Thêm 1 ID vào đầu PLL (vị trí số 1)
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Cài đặt tiêu đề</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <div>
                                          <input id="inRandKey" type="checkbox" class="checkbox" checked="checked"> Tự thêm từ khóa ngẫu
                                          nhiên vào cuối tiêu đề PLL
                                    </div>
                                    <div>
                                          <input id="inAutoAddKey"  type="checkbox" class="checkbox" checked="checked"> Tự động thêm
                                          <input id="inAddNumRandom"  class="form-control" type="text" value="4"> số ngẫu nhiên vào cuối tiêu đề
                                    </div>
                                    <div>
                                          <input id="inFixDieTitle"  type="checkbox" class="checkbox" checked>Chỉnh tiêu đề chống die cho mọi
                                          loại từ khóa
                                    </div>
                                    <div>
                                          Ký tự nối tiêu đề:
                                          <select [(ngModel)]="selectLineTitle" (ngModelChange)="onChangeLang($event)">
                                                <option *ngFor="let item of listLineTitle" [ngValue]="item"> {{item.name}} </option>
                                          </select>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Cài đặt mô tả</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <input id="inAddRandTile" type="checkbox" class="checkbox" checked="checked">Tự động thêm vài tiêu đề video
                                    tìm thấy vào mô tả
                              </div>
                              <div class="mb-1">
                                    <input id="inAddDesAuto" type="radio" name="radSet" value="auto" class="radio" [(ngModel)]="radSet">
                                    <span>Tự động thêm mô tả PLL</span>
                              </div>
                              <div class="mb-1">
                                    <input type="radio" name="radSet" value="manual" class="radio" [(ngModel)]="radSet">
                                    <span>Nhập mô tả PLL thủ công</span>
                              </div>
                              <div class="mb-1">
                                    <span>Mô tả cho PLL (có thể nhập theo spintax): </span>
                              </div>
                              <div class="mb-1">
                                    <textarea id="areaDescription" [disabled]="radSet == 'auto'" placeholder="Nhập mô tả vào đây" class="lined" rows="10" style="width:100%"></textarea>
                              </div>
                        </div>
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Reset</div>
                        <div class="card-body text-dark">
                              <div class="mb-1">
                                    <button class="btn btn-secondary">Reset về cấu hình mặc định</button>
                              </div>
                        </div>
                  </div>
            </div>

            <!-- right part  -->
            <div class="right-part col-12 col-sm-12 col-md-6">
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Từ khóa cho playlist (1 từ khóa tạo 1 PLL):
                              <i class="fa fa-question-circle pull-right"></i>
                        </div>
                        <div class="card-body text-dark">
                              <textarea id="areaKey" class="lined" rows="10" style="width:100%">{{listKeys}}</textarea>
                        </div>
                        <!-- <div class="card-footer">
                        </div> -->
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Danh sách từ khóa đã sử dụng:
                              <i class="fa fa-question-circle pull-right"></i>
                        </div>
                        <div class="card-body text-dark">
                              <textarea disabled id="areaDesc" class="lined" rows="10" style="width:100%">{{listKeysUsed}}</textarea>
                        </div>
                        <div class="card-footer">
                              <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                          <button onClick="document.getElementById('areaDesc').disabled = false;" class="btn btn-success btn-sm">Sửa từ khóa đã sử dụng</button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Third group">
                                          <button class="btn btn-danger btn-sm">Xóa hết</button>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="card border-secondary mb-3">
                        <div class="card-header">Danh sách từ khóa đã bỏ qua:

                        </div>
                        <div class="card-body text-dark">
                              <textarea id="keyPassing" disabled class="lined" rows="10" style="width:100%"></textarea>
                        </div>
                        <div class="card-footer">
                              <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                                          <button onClick="document.getElementById('keyPassing').disabled = false;" class="btn btn-success btn-sm">Sửa từ khóa đã bỏ qua</button>
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Third group">
                                          <button class="btn btn-danger btn-sm">Xóa hết</button>
                                    </div>
                              </div>
                        </div>

                  </div>
            </div>
      </div>
</div>