.new-playlist-content{
    padding-left: 10px;
}
.new-playlist-content > h6{
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.main-left{
    background: white;
    padding-top: 7px;
    margin-left: 10px;
    border-radius: 5px;
}
.btn{
    border: none;
    box-shadow: 0px 0px 5px grey;
}