<div class="col-12 main-left">
    <h6>Kênh đang sử dụng: {{user}}
        <a id="btnMaster" class="badge badge-primary text-light" href="{{urlChanel}}">Chuyển kênh</a>
    </h6>
    <h6>Tổng số playlist trên kênh:
        <a href="{{userInfo}}"><span class="badge badge-pill badge-dark">134</span></a>
    </h6>
    <h6>Serial đang sử dụng:
        <span class="badge badge-pill badge-dark">6asdfafqwwerq</span>
    </h6>
    <h6>Vài playlist mới nhất trên kênh:</h6>
    <div class="new-playlist-content">
        <h6 class="link">Harry Potter Book 1 Audiobook Part 1
            <span class="badge badge-pill badge-dark">46 video</span>
        </h6>
        <h6 class="link">Harry Potter Book 4 Part 1 Audible Audiobook
            <span class="badge badge-pill badge-dark">41 video</span>
        </h6>
        <h6 class="link">Harry Potter Book 1 Part 2
            <span class="badge badge-pill badge-dark">35 video</span>
        </h6>
        <h6 class="link">Harry Potter Book 1 Part 1 Audiobook
            <span class="badge badge-pill badge-dark">40 video</span>
        </h6>
        <h6 class="link">Harry Potter Book 1 Listen Online
            <span class="badge badge-pill badge-dark">50 video</span>
        </h6>
    </div>

    <p>Chào bạn! Hãy tùy chọn cấu hình (hoặc để mặc định), sau đó nhập các ID video của bạn (không bắt buộc) và danh sách từ
        khóa (bắt đầu) để bắt đầu.</p>
    <button (click)="getListKeys()" class="btn btn-success btn-sm mb-2" [ngClass]="disableCreatePlayListBtn ? 'inactive-create-playlist-btn' : 'active-create-playlist-btn'">
        Tạo Playlist
    </button>
    <div class="progress mb-2" *ngIf="onProcess" style="width: 68%;height: 31px;float: right;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0"
            aria-valuemax="100" style="width:100%">
        </div>
    </div>
    <div class="success-message">{{message}}</div>
</div>