.btn:focus, .form-control:focus{
  /* box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25); */
}
.btn-success:focus{
  /* box-shadow: 0 0 0 0.1rem rgba(40,167,69,.5); */
}
.linedwrap {
    width: 100%!important;
    border-radius: 5px;
    border: 1px solid #b69cb3;
    margin-top: 5px;
}
.lined{
  width: calc(100% - 60px) !important;
}
:disabled{
  background:white !important;
  opacity: 0.5;
  color: gray;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body {
  /* background: -webkit-gradient(linear, left top, left bottom, from(#a056a5), to(#c5c5c4)) fixed; */
  /* background: linear-gradient(217deg, #9b3fb53b, rgba(253, 254, 255, 0.23) 70.71%), linear-gradient(127deg, #555484c4, #ffffff52 70.71%), linear-gradient(336deg, #150bae40, #af5e4c7d 70.71%); */
}