.btn:focus, .form-control:focus{
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}
.btn-success:focus{
  box-shadow: 0 0 0 0.1rem rgba(40,167,69,.5);
}
.linedwrap {
    width: 100%!important;
    border-radius: 5px;
    border: 1px solid #b69cb3;
    margin-top: 5px;
}
.lined{
  width: calc(100% - 60px) !important;
}
:disabled{
  background:white !important;
  opacity: 0.5;
  color: gray;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
}